/* Input */
.input-wrapper {
    margin-bottom: 1.5rem;
    position: relative;

    & > .input-label {
        font-size: 1rem;
        font-weight: 400;
        color: #666666;
        text-transform: capitalize;
        display: block;
        margin-bottom: 0.3rem;
    }

    & > .input-field {
        box-sizing: border-box;
        padding: 1rem;
        background: transparent;
        border: 1px solid #d0d0d0;
        border-radius: 10px;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        color: #666666;
        background-color: #ffffff;
        outline: none;
        transition: border-color 0.2s ease-out;

        &:focus {
            border-color: #666666;
        }
    }

    .input-password-show-button {
        position: absolute;
        right: 0;
        bottom: 0;
        background: transparent;
        width: auto;
        padding: 1rem;

        img {
            vertical-align: bottom;
        }

        &::after {
            display: none;
        }
    }
}
