/* Form */
.form {
    .input-field {
        &.error {
            border-color: #e31f1f;
        }
    }

    .button-wrapper {
        text-align: center;
    }

    button {
        font-family: inherit;
        font-weight: 400;
        font-size: 0.95rem;
        text-align: center;
        border: 0;
        color: #ffffff;
        background-color: #48425c;
        background: linear-gradient(89.62deg, #48425c 0.32%, #6f6884 99.67%);
        border-radius: 10px;
        padding: 0.75rem 2rem;
        width: 15rem;
        max-width: 100%;
        box-sizing: border-box;
        position: relative;

        &::before {
            content: attr(value);
            position: relative;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: inherit;
            opacity: 0;
            background: linear-gradient(
                89.62deg,
                #6f6884 0.32%,
                #48425c 99.67%
            );
            transition: opacity 0.2s ease-out;
        }

        &:hover {
            cursor: pointer;

            &::after {
                opacity: 1;
            }
        }
    }

    input[type="checkbox"] {
        color: inherit;
        border: 1px solid currentColor;
        border-radius: 9999px;
        appearance: none;
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        margin: 0;
        position: relative;
        outline: none;
        background-color: #ffffff;

        &::after {
            content: "";
            position: absolute;
            background-color: currentColor;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: inherit;
            margin: 3px;
            transform: scale(0);
            transition: transform 0.2s ease-out;
        }

        &:checked {
            &::after {
                transform: scale(1);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}
