/* Password Input */
.input-wrapper {
    .input-password-show-checkbox {
        display: none;
    }

    .input-password-show-button {
        position: absolute;
        right: 0;
        bottom: 0;
        background: transparent;
        width: auto;
        padding: 0.8rem;
        color: #d6d6d6;
        transition: color 0.2s ease-out;

        svg {
            vertical-align: bottom;
        }

        &.password-shown {
            svg {
                .eye-strike-through {
                    display: none;
                }
            }
        }

        &::after {
            display: none;
        }
    }
}
